@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter&display=swap");
.genderbox {
  text-align: center;
}
.agebox {
  text-align: center;
}
.typebox {
  text-align: center;
}
.propertybox {
  text-align: center;
}
.kriterierbox {
  text-align: center;
}
.prisbox {
  text-align: center;
}
h1 {
  font-family: "DM Serif Text", serif;
}
p {
  font-family: "Inter", sans-serif;
}
